sam
tqdm
timm
lpips
torch
monai
pandas
pyyaml
pillow
easydict
objprint
diffusers
matplotlib 
scikit-image
transformers
opencv-python
cellseg-models-pytorch
albumentations
numpy==1.26.4
huggingface_hub==0.36.0
segment_anything
accelerate==1.12.0
